    .card-container {
  max-width: 500px;
}

agm-map {
  height: 400px;
}

.places {
  min-height: 400px;
  padding-right: 50px;
  margin-bottom: 20px;
}

.place-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  .place-thumbnail {
    min-width: 110px;
    width: 110px;
    height: 110px;
    background-size: cover !important;
    text-align: center;
    margin-left: 10px;
  }

  .details {
    padding-left: 10px;
    flex: 1;
    textarea {
      width: 100%;
    }
    > h5 {
      font-size: 18px;
      font-weight: bold;
      margin: 3px 0 2px;
    }
    .types {
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 0;
    }
    .address {
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 0px;
    }
    .controls {
      margin-top: 10px;
      button {
        padding: 5px 10px;
        font-size: 14px;
      }
    }
  }
}

.add-places {
  margin-bottom: 20px;
}

.special-click {
  font-weight: bold;
}
.special-click:hover {
  cursor: pointer;
  text-decoration: underline;
}

.itinerary-details label {
  font-weight: normal;
}

.submit-button-container {
  text-align: center;
  margin-bottom: 20px;
  button {
    padding: 15px 40px;
    font-size: 20px;
  }
}


h3 {
    font-size: 1.5em;
    margin-top:0;
}

.details-col {
    
    padding:15px;
    border: 1px solid rgba(253, 194, 94, 0.6);
}
.places-col {
    padding : 15px;
}

.seve-btn {
    width: 100%;
    padding:15px;
    text-align: center;
    font-size: 18px;
}

.small-xt {
    font-size: 10px;
}


.click-notes {
  color: #40b8ea;
  text-decoration: underline;
}

.click-notes:hover{
  cursor: pointer;
}
