<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h1>Instructions</h1>
            <ol>
                <li>You can create itinerary at Itinerary -> <a routerLink="/itinerary/create">Create itinerary</a></li>
                <li>Select Locations, view nearby places, prepare your route on your itinerary.</li>
                <li>After selecting locations fill the itinerary details field and save</li>
                <li>You will receive an email for a safe link of your itinerary.</li>
                <li>Print a copy of your itinerary and bring with you when you travel</li>
                <li>You have an option to become a registered user of Baktas Davao to save your itinerary and manage them</li>
            </ol>
        </div>
        <div class="col-xs-12 col-sm-6"></div>
    </div>
</div>