<div class="main-login">
    <div class="login-form-cont">
        <div class="logo-cont">
            <a href="/">
                <img [src]="'assets/login-logo.png'" width="240px">
            </a>
            <p>Baktas Dabaw - Registraion</p>
        </div>
        <div class="form-group">
            <input [ngModel]="email" (ngModelChange)="email=$event" type="email" class="form-control" placeholder="E-mail">
        </div>
        <div class="form-group">
            <input [ngModel]="first_name" (ngModelChange)="first_name=$event" type="email" class="form-control"
                placeholder="First Name">
        </div>
        <div class="form-group">
            <input [ngModel]="last_name" (ngModelChange)="last_name=$event" type="email" class="form-control"
                placeholder="Last Name">
        </div>
        <div class="form-group">
            <input [ngModel]="password" (ngModelChange)="password=$event" type="password" class="form-control"
                placeholder="Password">
        </div>

        <div class="form-group">
            <input [ngModel]="cpassword" (ngModelChange)="cpassword=$event" type="password" class="form-control"
                placeholder="Confirm Password">
        </div>
        <div class="form-group">
            <button class="btn bg-yellow text-white" (click)="register()">Register</button>&nbsp;
        </div>
    </div>
</div>
<swal #badRegistraion title="Invalid Credentials" type="error"></swal>
<swal #doneSwal title="succesfully Registered" type="success"></swal>