<section class="container-fluid banner air-bg">
    <h1>
        Laag ta bai
    </h1>
</section>
<section class="section-1">
    <div class="container">
        <h1 class="center">Your Davao city Travel Guide</h1>
        <div class="row steps">
            <div class="col-xs-12 col-sm-4">
                <div class="step">
                    <div class="step-number">
                        1
                    </div>
                    <div class="step-description">
                        Select destinations in Davao City, adjust and tweak your route and see nearby places. You can
                        create your itinerary <a routerLink="/itinerary/create"><strong>here.</strong></a> and fill necessary details
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="step">
                    <div class="step-number">
                        2
                    </div>
                    <div class="step-description">
                        Once you have created your Itinerary, You will be redirected to you itinerary and receive and email for a copy of you itinerary.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="step">
                    <div class="step-number">
                        3
                    </div>
                    <div class="step-description">
                        Print your itinerary and bring them with you.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container custom-width">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <p class="large-lineheigt">MABUHAY!<br> Our vision is for Davao to become one of the top travel destination
                in
                the Philippines We aim to maintain a reputation for good service towards the travelers in the city, by
                presenting
                data from quality standards, and for steadfastness in upholding excellence in everything that we do.
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="http://3.bp.blogspot.com/-th1ajptIQHs/Tl7XoASmyEI/AAAAAAAACVg/kDxFW8iI1BI/s640/old.png">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <img width="250px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Department_of_Tourism_%28DOT%29.svg/220px-Department_of_Tourism_%28DOT%29.svg.png">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <p class="large-lineheigt left-text">
                IMAGINE!<br> Imagine traveling with out anu loophole, and getting prepared along the way. Track
                distance,
                fare estimates, contact details of establishments around the city. Help others to create their own
                guide.
                Thru the help of the <b>Department of Tourism</b>
                and <b>City Tourisms Office</b>, we gather certified establishments and places for better experience.
            </p>
        </div>
    </div>
</div>
<section class="container-fluid mid-banner pusit-bg">
    <div class="container create-now-area">
        <div class="row">
            <div class="col-xs-12 col-sm-6 center">
                <h1>
                    Start creating your guide for free!
                </h1>
            </div>
            <div class="col-xs-12 col-sm-6 center">
                <a routerLink="/itinerary/create" class="btn bg-yellow text-white">Create Now!</a>
            </div>
        </div>
    </div>
</section>
<div class="container center life-here-logo">
    <img src="http://www.davaocity.gov.ph/davao/promotions/lifeishere/lifeishere.png">
</div>
<!-- <section class="top-picks">
    <div class="container">
        <div class="hotels">
            <div class="hotel">
                <div class="hotel-image">
                    
                </div>
                <div class="hotel-desc">
                    
                </div>
            </div>
        </div>
    </div>
</section> -->